* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, serif;
    /*border-style: dashed;*/
}

body {
    text-align: center;
}

h1 {
    color: red;

}

#white_bulb {
    padding-left: 2rem;
}

#yellow_bulb {
    padding-left: 2rem;

}

.block {
    display: none;
}

.lightup {
    display: block;
}