* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, serif;
    /*border-style: dashed;*/
}

body {
    text-align: center;
}

h1 {
    color: red;

}

.container {
    display: flex;
    justify-content: center;
}

#white_bulb {
    margin-right: -2rem;
}

#yellow_bulb {
    margin-left: -3rem;
}

.block {
    display: none;
}

.lightup {
    display: block;
}