* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, serif;
    /*border-style: dashed;*/
}

h1 {
    color: red;

}

.block {
    display: none;
}

.lightup {
    display: block;
}